@font-face {
    font-family: myfont;
    src: url(driushalf.ttf);
}
@keyframes slideinright{
    from{
        transform: translateX(-500px);
    }
    to{
        transform: translateX(0px);
    }
}
@keyframes slideinleft{
    from{
        transform: translateX(500px);
    }
    to{
        transform: translateX(0px);
    }
}
@keyframes slideintop{
    from{
        transform: translateY(500px);
    }
    to{
        transform: translateY(0px);
    }
}


#p1,#p3{
    animation: slideinright 1s ease-in-out;
}
#p2{
    animation: slideinleft 1s ease-in-out;
}
body{
    margin: 0;
    margin-bottom: 20px;
    background-color: #000000;
}
.nav{
    font-size: 20px;
    width: 100%;
    margin: 0;
}
.nav ul{
    background-color: #6e58c8;
    margin: 0;
}
.nav li{
    display: inline-flex;
    align-items:center;
    justify-content: space-between;
    
}
.nav li:first-child{
    display: inline-flex;
    align-items:center;
    justify-content: space-between;
    font-family: myfont;
    
}
.nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;
    width: 100%;
    transition: transform 0.3s ease-in-out 0s;
    padding: 20px;

}
.nav a:hover{
    color: rgb(255, 255, 255);
    transform: translateY(-3px);
}
.nav img{
    height: 40px;
    width: 40px;
    float: right;
}
#navphotoa{
    position: absolute;
    padding: 0%;
    width: 40px;
    height: 40px;
    top:10px;
    right: 10px;
    transition: transform 0.3s ease-in-out 0s;
}
#navphotoa:hover{
    transform: translateY(-3px);
}
.nav img{
    border-radius: 10px 10px 10px 10px;
}


#Form{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width:100%;
}
#Form fieldset{
    border-radius: 10px;
    text-align: center;
    padding: 40px 100px;
    background-color: #939292;

}

#Form legend{
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #7700ff;
    border-radius: 5px;
    background-color:rgba(247, 243, 243, 0.5);
    text-align: center;
}
#Form fieldset:hover{
    font-weight: bold;
    border-radius: 10px;
    padding: 40px 100px;
    border: 2px dashed #7700ff;
    text-align: center;
}

#Form label{
    background-color: #a591f3;
    border-radius: 10px;
}
#Form input[type="text"],
input[type="email"],
input[type="password"] {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

#Form input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #8400ff; 
  box-shadow: 0 0 5px rgba(103, 29, 251, 0.5); 
}

#Form input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {

  rotate: 2deg;
}

#Form input[type="date"]{
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

#Form input[type="date"]:focus{
  border-color: #8400ff; 
  box-shadow: 0 0 5px rgba(103, 29, 251, 0.5); 
}

#Form input[type="date"]:hover{
    transform: rotate(-2deg);
  }

#Form button {
    padding: 10px 20px;
    background-color: rgba(89, 9, 248, 0.5); 
    color: #0b0a0a; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
#Form h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color 0.6s ease-in-out, color 0.1s ease-in-out;
    padding: 20px;
    color: white;
}
#Form h1:hover {
    background-color: #b171ff;
    color: #000000; 
    border-radius: 10px;
}



/*Now styling abt page*/
.person-container{
    display:block;
    margin: auto;
}
/* Style the image */
.person-container img {
    max-width: 150px; /* Increase the max width for a larger picture */
    display: flex;
    justify-self:center;
    border-radius: 70%;
    margin-right: 20px;
}

/* Style the text information */
.person-info {
    display: flex;
    justify-content: space-between;
    border: 2px solid #ffffff; /* Add a border */
    border-radius: 10px; /* Add border radius for rounded corners */
    margin-left: 150px;
    margin-bottom: 20px;
    padding :40px;
    width:60%
}
.person-info:hover {
    display: flex;
    justify-content: space-between;
    border: 2px solid #e100ff; /* Add a border */
    border-radius: 10px; /* Add border radius for rounded corners */
    margin-left: 150px;
    margin-bottom: 20px;
    padding :40px;
    width:60%
}
#p2{
    margin-left: 350px;
}

.person-info h2 {
    margin: 0;
   
}

.person-info p {
    margin-top: 20px;
    color: #fffdfd;
}

#abtpa{
   margin: 50px;
   margin-top: 0;
   width: 90%; 
   padding: 30px;
   border: 3px dashed #8400ff;
   animation: slideinright 1s ease-in-out;
   
}
#abtpa2{
    margin: 50px;
   margin-top: 0;
   width: 90%; 
   padding: 30px;
   border: 3px dashed #8400ff;
    animation: slideinleft 1s ease-in-out;
}
#abtpa,#abtpa2{
    font-size: 18px;
    color: white;
}
#abtpa:hover,#abtpa2:hover{
    border: 3px dashed #d634ff;
    border-radius: 05%;
    background-color: #8f8d8d;
    color: rgb(0, 0, 0);
    
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
}

tr:nth-child(2n) {
    background-color: #f0a9fd;
}
tr:nth-child(2n-1) {
    background-color: #ff65bf;
}
tr:nth-child(2n-1):hover {
    background-color: #ff39f2;
}
tr:nth-child(2n):hover {
    background-color: #dc4ffc;
}
tr:first-child{
    background-color: #ad14ff;
}
#table{
margin: 30px;
animation: slideintop 1s ease-in-out;
}


#sun{
    position: absolute;
    padding: 0%;
    width: 40px;
    height: 40px;
    top:10px;
    right: 70px;

}
#sun:hover{
    transform: translateY(-3px);
}
